[submodule "third_party/SDL3"]
	path = third_party/SDL3
	url = https://github.com/libsdl-org/SDL.git
	shallow = true
[submodule "third_party/skia"]
	path = third_party/skia
	url = https://github.com/steveriemannx/skia.git
	branch = dui
	shallow = true
